<html>
	<head>
		<title>Oskari Filmide Tabel, mis on nagemata</title>
		<meta charset="utf-8">

	</head>

	<body>
		<p>Otsing</p>
		<form action="/search" method="get">
			<input type="text" name="key">
			<input type=submit value="Otsi">
			<p><b>Filtreeri aasta jargi</b></p><input type="radio" name="filter" value="year">
			<p><b>Filter voitude jargi</b><p><input type="radio" name="filter" value="wins">
		</form>
		<table border=2>
			<tr>
				<th>Filmi nimi</th>
				<th>Aasta</th>
				<th>Oskareid voitnud</th>
			</tr>
			
			{% for row in data %}
			<tr>
				<td style="text-align: center;">{{row[0]}}</td>
				<td style="text-align: center;">{{row[1]}}</td>
				<td style="text-align:center;">{{row[2]}}</td>
			</tr>
			{% endfor %}
		</table>
